@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* variables */
:root {
    --primary: rgb(253, 253, 159);
    --secondary: #ececec;
    --semidark: #454545;
    --darker: #333;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    /* does not include margins */
    margin: 0;
    padding: 0;
}

html {
    font-size: 1em;
    width: 100%;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--secondary);
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    color: var(--secondary);
    text-align: left;
    background-color: black;
    overflow-x: hidden;
    /* transition: background-color 0.3s; */
    animation: fadeIn 2s ease-in-out forwards, blurOut 2s ease-in-out forwards;
    width: 100%;
    overflow-x: hidden;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: var(--secondary);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes blurOut {
    from {
        filter: blur(10px);
    }

    to {
        filter: blur(0);
    }
}


::selection {
    background-color: rgb(202, 180, 255);
    color: black;
}


/* header styles */

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(50, 50, 50), black);
    z-index: 1000;
    transition: height 0.3s ease, padding 0.3s ease;
}

header .logo {
    display: flex;
    text-align: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    transition: max-width 0.3s ease;
}

header .logo img {
    object-fit: contain;
    max-width: 100%;
    max-width: 100%;
}


header.scrolled .logo {
    max-width: 60%;
}

/* main container grid with 12 columns */
main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    max-width: 100vw;
}

.welcome {
    grid-column: span 12;
    position: relative;
    padding-top: 50px;
    padding-bottom: 200px;
}

.welcomeimg {
    margin: 0 auto;
}

.welcomeimg img {
    max-width: 100%;
}


/* styles for arrow animation */

.arrow-wrapper {
    position: absolute;
    top: 70%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: bounce 1s linear infinite, showArrowWrappers 3s ease;
}

@keyframes bounce {
    0% {
        transform: translateX(-50%) translateY(0);
    }

    100% {
        transform: translateX(-50%) translateY(30px);
    }
}

@keyframes showArrowWrappers {

    0%,
    70% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }
}

.arrow {
    width: 0px;
    height: 0px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 34px solid rgb(135, 135, 135);
    opacity: 1;
    animation: flashIn 3s linear infinite;
}

@keyframes flashIn {
    5% {
        opacity: 1;
    }

    13%,
    100% {
        opacity: 0;
    }
}


.arrow.arrow1 {
    position: absolute;
    animation-delay: 0s;
}

.arrow.arrow2 {
    position: absolute;
    transform: translateY(25px);
    animation-delay: 0.15s;
}

.arrow.arrow3 {
    position: absolute;
    transform: translateY(50px);
    animation-delay: 0.3s;
}

/* first ringimage and text below */

.huomio {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    max-width: 100%;
    /* align-items: center; */
}

.huomioimg {
    grid-column: span 5;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.huomioimg img {
    max-width: 130%;
}

.huomiotext {
    grid-column: span 5;
    padding: 50px 45px;
    padding-bottom: 90px;
}

/* sormukset -teksti */

.parallax-container {
    grid-column: span 12;
    background-image: linear-gradient(black, rgb(23, 23, 23), black);
    background-attachment: fixed;
    width: 100%;
    height: 200px;
    justify-content: center;
    overflow: hidden;
}

.h1-parallax {
    display: flex;
    max-width: 100%;
    justify-content: center;
}

/* container grid with 5 columns for rings and corresponding texts */
.cards {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 100%;
}

.cardandimg {
    grid-column: span 5;
    margin: 30px 0;
    max-width: 100%;
    background: black;
}

.imageforcard {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 50px 0;
    margin: 20px 0;
    overflow: hidden;
}

.imageforcard.notoppadding {
    padding-top: 0;
}

.imageforcard.reduce-height {
    height: 400px;
}

.zoomelement,
.rotateelement,
.zoomrotateelement,
.zoomtranslateelement {
    max-width: 100%;
    max-height: 100%;
    /* transition: transform 0.3s ease-out; */
}

.scaledownheight {
    max-height: 70%;
}

.scaledownheight2 {
    max-height: 93%;
}

.scaledownwidth1 {
    max-width: 82%;
}

.scaledownwidth2 {
    max-width: 80%;
}

.videoelement {
    max-width: 100%;
    border-radius: 15px;
}

.no-padding {
    padding: 0;
}

.no-bottom-padding {
    padding-bottom: 0;
}

.no-top-padding {
    padding-top: 0;
}

.card {
    grid-column: span 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: rgb(30, 30, 30); */
    background-image: linear-gradient(140deg, black, rgb(35, 35, 35), black);
    padding: 30px 20px;
    margin: 0 auto;
    max-width: 87%;
    border-radius: 15px;
}

.contact {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 50px 0;
    margin-top: 30px;
}

.contact .card {
    grid-column: span 5;
    border: 2px solid grey;
    background-image: linear-gradient(rgb(40, 40, 40), black);
    border-radius: 15px;
    gap: 8px;
}

.contact .card h1 {
    color: rgb(253, 253, 159);
    width: 100%;
    text-align: left;
    
}

.contact .socials {
    display: flex;
    border-radius: 10px;
    margin-top: 20px;
    gap: 20px;
    width: 100%;
    text-align: left;
}

.contact .socials li {
    padding: 10px 20px;
    background-color: #454545;
    border-radius: 10px;
}


.imggrid {
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    height: auto;
    max-width: 100vw;
    /* font-size: 0; */
    overflow: hidden;
}

.imggrid img {
    width: auto;
    object-fit: cover;
}

footer {
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding: 30px 10px;
    background: black;
}

footer p {
    display: flex;
    justify-content: center;
    text-align: center;
    color: grey;
}


@media screen and (min-width: 300px) {

    h1 {
        font-size: 3rem;
    }

    header {
        padding: 3%;
    }

    .contact h1 {
        font-size: 2rem;
    }
}

/*
@media screen and (min-width: 370px) {

    .welcome {
        padding-top: 30px;
        padding-bottom: 300px;
    }

    .huomiotext {
        padding-left: 30px;
        padding-right: 30px;
    }

    .card {
        max-width: 90%;
        border: 8px solid rgb(20, 20, 20);
        border-radius: 20px;
    }
}

@media screen and (min-width: 590px) {
    header .logo img {
        max-width: 354px;

    }
} 
*/
/* @media screen and (min-width: 750px) {

    h1 {
        font-size: 6rem;
    }

    header {
        padding: 1.5%;
    }

    header .logo {
        max-width: 444px;
    }

    header.scrolled .logo {
        max-width: 40%;
    }

    .welcomeimg {
        max-width: 90%;
    }

    .huomio {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin: 20px;
        margin-bottom: 100px;

    }

    .huomioimg {
        grid-column: span 5;
        min-width: 100%;
        transform: translateX(-50px);
    }

    .huomiotext {
        grid-column: span 5;
        padding: 80px 40px;

        z-index: 10;
    }

    .parallax-container {
        height: 250px;
        /* margin-bottom: 100px; 
    }

    .cardandimg {
        gap: 0;
    }

    .cardandimg:first-child .imageforcard.video {
        transform: translateY(30px);
    }

    .imageforcard {
        grid-column: span 2;
    }

    .imageforcard.white {
        background: white;
        padding: 80px 0;
    }

    .imageforcard:first-child {
        grid-column: span 3;
    }


    .card {
        margin: 50px 0;
        grid-row: 3;
        grid-column: 1 / 4;
    }



    .card.kiinnostuitko {
        grid-column: span 5;
    }

    .card.yhteystiedot {
        grid-column: span 2;
    }
} */


/* iphone 11 pro, X, XS, 8, SE 2020,  */
@media screen and (max-width: 375px) {}

/* iphone 12 pro max */
/* @media screen and (max-width: 440px) {
        nav {
            max-width: 50%;
            max-height: 100%;
        }
        nav ul {
            display: flex;
            align-items: center;
        }
        
        
        nav ul a {
            display: block;
            font-size: 1.7em;
            margin: 0 30px;
            padding: 14px 20px;
            text-align: center;
        }
        
    } */