@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* variables */
:root {
  --primary: rgb(253, 253, 159);
  --secondary: #ececec;
  --semidark: #454545;
  --darker: #333;
}

/* reset default browser styles */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Oswald", sans-serif; */
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 1.2em;
  color: var(--secondary);
  text-align: left;
  background-color: black;
  overflow-x: hidden;
  transition: background-color 0.3s;
  animation: fadeIn 2s ease-in-out, blurOut 2s ease-in-out forwards;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  color: var(--secondary);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes blurOut {
  from {
    filter: blur(5px);
  }

  to {
    filter: blur(0);
  }
}


::selection {
  
  background-color: rgb(202, 180, 255);
  color: black;
}



/* relevant */


/* top navbar */

.navbar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  max-height: 100px;
  top: -200px;
  left: 0;
  width: 100%;
  background: linear-gradient(#262626, black);
  padding: 20px;
  padding-bottom: 5px;
  position: sticky;
  transition: top 0.5s ease;
  z-index: 10;
}

.navbar.show {
  top: 0;
}

nav {
  max-width: 50%;
  max-height: 100%;
}


.teanjd {
  display: block;
  padding: 0;
  margin: 0;

}

.teanjd img {
  max-height: 100%;
  float: right;
  max-width: 100%;

}

nav ul {
  display: flex;
  align-items: center;
}


nav ul a {
  display: block;
  font-size: 1.7em;
  margin: 0 30px;
  padding: 14px 20px;
  text-align: center;
}


main {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
  gap: 0;
  max-width: 100%;
}

.welcome {
  grid-column: span 9;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  max-width: 100%;
  position: relative;
  padding-bottom: 250px;
}

.welcome img {
  grid-column: span 9;
  justify-self: center;
  max-width: 50%;
}


/* styles for arrow animation */

.arrow-wrapper {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: bounce 1s linear infinite, showArrowWrappers 3s linear forwards;
}

@keyframes showArrowWrappers {

  0%,
  70% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateX(-50%) translateY(0);
  }

  100% {
    transform: translateX(-50%) translateY(30px);
  }
}

@keyframes flashIn {
  5% {
    opacity: 1;
  }

  13%,
  100% {
    opacity: 0;
  }
}

.arrow {
  width: 0px;
  height: 0px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 34px solid rgba(255, 255, 255, 1);
  opacity: 1;
  animation: flashIn 3s linear infinite;
}

.arrow.arrow1 {
  position: absolute;
  animation-delay: 0s;
}

.arrow.arrow2 {
  position: absolute;
  transform: translateY(25px);
  animation-delay: 0.15s;

}

.arrow.arrow3 {
  position: absolute;
  transform: translateY(50px);
  animation-delay: 0.3s;

}



.huomio {
  grid-column: span 9;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  grid-template-rows: auto;
  margin: 40px;
}

.huomioimg {
  grid-column: span 3;
  max-width: 100%;
}

.huomioimg img {
  max-width: 100%;
}

.huomiotext {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#333, black);
  border-radius: 30px;
  padding: 60px;
}

/* nav a:hover {
  border-bottom: 4px solid black;
}


nav h1 {
  font-size: 6em;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
  color: white;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

nav h1:hover {
  color: #000;
  text-shadow:
    -2px -2px 0 white,
    2px -2px 0 white,
    -2px 2px 0 white,
    2px 2px 0 white;
}

nav .social a {
  font-size: 2em;
} */

/* @keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
} */

.parallax-container {
  background-attachment: fixed;
  grid-column: span 9;
  width: 100%;
  padding: 200px;
  font-size: 3em;
  justify-content: center;
  overflow: hidden;

}

.h1-parallax {
  display: flex;
  max-width: 100%;
  justify-content: center;
}


.cards {
  grid-column: span 9;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.cardandimg {
  grid-column: span 1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  gap: 40px;
  margin: 100px 0;
}

.card {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#333, black);
  border-radius: 30px;
  padding: 60px;
}


.imageforcard {
  grid-column: span 4;
  display: flex;
  max-width: 100%;
  justify-content: center;


}

.imageforcard img {
  width: 500px;
}



/* .carousel {
  position: relative;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
}

.carousel:before,
.carousel:after {
  position: absolute;
  top: 0;
  width: 200px;
  height: 100%;
  z-index: 2;
  content: '';
}

.carousel:before {
  left: 0;
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(0, 0, 0, 0));
}

.carousel:after {
  right: 0;
  background: linear-gradient(to left, rgb(255, 255, 255), rgba(0, 0, 0, 0));
}

.carousel-slide {
  display: inline-block;
  padding: 30px;
  animation: 50s slide infinite linear;
}

.carousel-slide img {
  height: 300px;
  margin: 0 30px;

} */

/* .carousel-slide:hover {
  animation-play-state: paused;
} */

.contact {
  grid-column: span 9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 50px 40px;
  gap: 40px;
}

.contact .card {
  grid-column: span 1;
  border: 2px solid white;
}

.contact .card h1 {
  color: rgb(253, 253, 159);
}

/* .infotext {
  font-family: 'Roboto';
  padding: 40px 30px;
  grid-column: span 2;
  font-size: 1.3em;

}

.infotext p {
  display: flex;
  padding-bottom: 50px;
}

.infopic {
  width: 100%;
  grid-column: span 3;
}

.infopic img {
  width: 100%;
  max-width: 100%;
  height: auto;
} */

footer {

  background: linear-gradient(#262626, black);
  margin-top: 15px;
}

.footerinfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 20px;
}

footer ul {
  text-align: center;
}


/* iphone 12 mini */
@media screen and (min-width: 300px){}
  

/* iphone 12, 12 pro, 13, 13 pro, 14, 14 pro, 15 */
@media screen and (max-width: 400px){

}

/* iphone 11, XR, XS Max, 11 pro max,  */
@media screen and (max-width: 420px){

}
/* iphone 11 pro, X, XS, 8, SE 2020,  */
@media screen and (max-width: 380px){

}
/* iphone 12 pro max */
@media screen and (max-width: 440px){

}
